.product-list
    display: flex
    flex-wrap: wrap
    padding: 4rem
.title
    font-family: "arial", "serif"
    font-size: .64em
    color: #ffffff70
    padding: .5em 1em

.home-catalog-title
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #ffffff31
    background-color: #ffffff1a

.catalog-tools-wrap
    display: flex
    .limit
        cursor: pointer
        border: 1px solid #cccccca8
        padding: .7rem
        margin-right: 2rem